body{
    background-color: #F8F1F1;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.results .MuiCard-root {
    margin: 1vw;
    min-width: 150px;
}

.filters .MuiFormControl-root {
    margin-left: 10px;
}

#clearBut {
    color: #0A065D;
    border-color: #0A065D;
}

.viewToggle {
    display: flex;
    justify-content: center;
}

.map {
    height: 600px;
    width: 100%;
  }

#mapContainer {
    width: 80%;
}



