body {
  background-color: #F8F1F1;
  font-family: Arial, sans-serif;
  height: 100%;
}

.top-section {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.register-h1 {
  margin: 0px;
}

.sme-helpertext {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  width: 24ch;
  display: inline-block;
  position: relative;
  top:0.75rem;

}

.register-section {
  background-color: white;
  ;
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 750px;
  height: 1100px;
  padding: 50px;
}

.register-category {
  margin-bottom: 5px;
}

td {
  padding: 0px 10px 10px 0px;
}
.special-td{
  display: flex;
  flex-direction: column;
}
.checkmarks{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 3.5rem;
  margin-top: -55px;
}
.checkmarks-confirmpassword{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 1rem;
  margin-top: -15px;
}
.checkmarks-username{
  display: flex;
  flex-direction: column;
  position: relative;
  top: 1rem;
  margin-top: -15px;
}
.register-title {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-right: auto;
  margin-bottom: 20px;
  position: relative;
  left: 100px;
}

#registration-logo {
  height: 80px;
  width: 80px;
  background: #0A065D;
  border-radius: 5px;
  margin: 10px;
}

#outlined-basic {
  width: 25ch;
}

.register-button-row {
  position: relative;
  top: 30px;
}